* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #333;
}

#nome{
    font-weight: 600;
    font-family: "Jersey 25", sans-serif;
    font-size: 1.8rem;
    width: 33vw;
}

main{
    color: white;
    background-color: black;
    font-family: "Inria Sans", sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
}

h2{
    font-size: 35px;
}

nav{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 33vw;
    justify-content: center;

}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    align-items: center;
}

nav a:hover{
    text-decoration: underline;
}

#perfil{
    width: 33vw;
    display: flex;
    justify-content: end;
 
}

#perfilbu{
    height: 43px;
    width: 100px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 20px;
    color: white;
}
