* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

#nome{
    font-family: "Jersey 25", sans-serif;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 15px;
    
}

h1{
    font-family: "Jersey 25", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 33px;
    padding-bottom: 30px;
    border-bottom: 1px solid #4e4e4e;
}

main{
    color: white;
    background-color: black;
    font-family: "Inria Sans", sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    gap: 30px;
}

#tt{
    font-size: 35px;
}


#pesquisa{
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #1414144b;
    border-radius: 16px;
    cursor: pointer;

}

#pesquisa i{
    color: white;
}

#pesquisa input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    
}

#pesquisa input:focus-visible{
    outline: none;
}

.container{
    padding-top: 70px;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.container2{
    padding-top: 50px;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.quad a{
    width: 361px;
    height: 218px;
    background: linear-gradient(to bottom, rgb(26, 26, 26), rgb(0, 0, 0));
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
    
    
}

.quad h2{
    font-family: "Jersey 25", sans-serif;
    font-size: 40px;
    color: white;
   
    
}

.quad i{
    color: #dadada;
    font-size: 50px;

}

.quad p{
    color: white;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

:root{
    --primary-color: rgb(14, 14, 14);
    --secondary-color: rgb(34, 33, 33);
    --text-color: white;
    --background-color: rgb(8, 8, 8);
}

.menu-lateral{
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 3px rgb(37, 37, 37);
    transition: 0.5s ease;
}

.menu-lateral.ativo{
    left: 0;
}

.menu-lateral ul{
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    
}

.menu-lateral ul li{
    padding: 15px 30px;
    font-family: "Jersey 25", sans-serif;
}

.menu-lateral ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li a i{
    font-size: 24px;
}

.menu-lateral ul li:hover{
    background-color: var(--secondary-color);
}

.menu-lateral ul li a i:hover{
    transform: translateX(5px) rotate(5deg);
}

.botao-menu{
    background-color: var(--primary-color);
    left: 25px;
    top: 25px;
    z-index: 6;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.5s ease;
    position: fixed;
  
}

.botao-menu:hover{
    background-color: white;
    color: black;
}

.botao-menu.ativo{
    left: 380px;
}

body{
    transition: 0.5s ease;
}

body.ativo{
    margin-left: 320px;
    transition: 0.5s ease;
   
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.background.ativo{
    opacity: 2;
    visibility: visible;
    
}

footer{
    width: 100%;
    font-family: "Inria Sans", sans-serif;
    padding-top: 70px;
}

#content-footer{
    background-color: #000;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contatos p{
    font-family: "Jersey 25", sans-serif;
    font-size: 2rem;
    padding-bottom: 1rem;
}

#social-links{
    padding-top: 1.2rem;
    display: flex;
    gap: 1rem;
}

#social-links .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    
}

#social-links .footer-link:hover{
    transform: translateX(5px) rotate(5deg);
}

#inta{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#zapp{
    background: linear-gradient(#01820e, #19ff57, #6fff1c);
}

#linkedin{
    background: linear-gradient(#00065f, #034365, #030033);
}

#github{
    background: linear-gradient(#0b0b0b, #121212, #100f0f);
}

#tutube{
    background: linear-gradient(#ff0000, #690808, #9a4242);
}

#footer-copyright{
    background-color: rgb(2, 2, 2);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-list{
    list-style: none;

}

#info{
    font-size: 2rem;
    font-family: "Jersey 25", sans-serif;
    padding-bottom: 8px;
}

.footer-links{
    font-family: "Inria Sans", sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.footer-links:hover{
    text-decoration: underline;
}

#footer-sugestoes{
    font-size: 1.2rem;

}

#sug{
    font-size: 2rem;
    font-family: "Jersey 25", sans-serif;
    padding-bottom: 8px;
    
}

#email{
    text-decoration: underline;
    padding-top: 5px;
    color: white;

}

#email:hover{
   color: #00065f;
}