* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #333;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

#nome {
    font-weight: 600;
    font-family: "Jersey 25", sans-serif;
    font-size: 1.8rem;
}

button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.2s ease;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

button:hover {
    background-color: white;
    color: black;
}

main {
    color: white;
    background-color: black;
    font-family: "Inria Sans", sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
}

h2 {
    font-size: 35px;
}

#sobreNos {
    padding-top: 50px;
}

.ranking {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
}

img {
    width: 800px;
}

#texto2 {
    font-size: 25px;
    font-family: "Inria Sans", sans-serif;
    padding-right: 50px;
}

h3 {
    font-size: 28px;
    font-family: "Inria Sans", sans-serif;
    border-bottom: 1px solid #333;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 30px;


}

.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
}

#texto4 {
    font-size: 25px;
    font-family: "Inria Sans", sans-serif;
    font-size: 20px;
    margin: 35px;
}

#texto5 {
    font-size: 25px;
    font-family: "Inria Sans";
    font-size: 20px;
    margin-right: 10px;
}

.meusC {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px;
}

.meusC p{
    font-family: "Inria Sans", sans-serif;
    font-size: 20px;
}

.editais{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
}

#texto8{
    font-size: 25px;
    font-family: "Inria Sans", sans-serif;
    padding-right: 50px;
}

#imgedital{
    width: 600px;
    padding-left: 80px;
}