* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #333;
}

a{
    text-decoration: none;
    color: #ffff;

}

h2{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
}

body{
    transition: 0.5s ease;
}

main{
    color: white;
    background-color: black;
    font-family: "Inria Sans", sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
}
.Filtros{
    width: 278px;
    height: 54px;
    font-size: 18px;
    background-color: white;
    border: 1px #4B4444 solid;
}

.links-category{
    padding: 16px;
}

.Entrar{
    background-color: #000;
    color: white;
    width: 80px;
    height: 36px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
}

.abadecima{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}