*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

main{
    color: white;
    background-color: black;
    font-family: "Inria Sans", sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
    gap: 30px;

}

#tt{
    font-size: 35px;
}

#nome{
    font-family: "Jersey 25", sans-serif;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 15px;
    
}

.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.perfil img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px
}

#nome-usuario{
    font-size: 25px;
    color: #ffffff;
    font-family: "Jersey 25", sans-serif;
}

:root{
    --primary-color: rgb(14, 14, 14);
    --secondary-color: rgb(34, 33, 33);
    --text-color: white;
    --background-color: rgb(8, 8, 8);
}

.menu-lateral{
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 3px rgb(37, 37, 37);
    transition: 0.5s ease;
}

.menu-lateral.ativo{
    left: 0;
}

.menu-lateral ul{
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    
}

.menu-lateral ul li{
    padding: 15px 30px;
    font-family: "Jersey 25", sans-serif;
}

.menu-lateral ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}



.menu-lateral ul li a i{
    font-size: 24px;
}

.header-list:hover{
    background-color: var(--secondary-color);
}

.menu-lateral ul li a i:hover{
    transform: translateX(5px) rotate(5deg);
}

.botao-menu{
    background-color: var(--primary-color);
    left: 25px;
    top: 25px;
    z-index: 6;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.5s ease;
    position: absolute;
  
}

.botao-menu:hover{
    background-color: white;
    color: black;
}

.botao-menu.ativo{
    left: 380px;
}

body{
    transition: 0.5s ease;
}

body.ativo{
    margin-left: 300px;
    transition: 0.5s ease;
   
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.background.ativo{
    opacity: 2;
    visibility: visible;
    
}

.nomes-categorias {
    font-size: 2rem;
    border-bottom: 1px solid #333;
}

.centralizar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container{
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container h1 {
    font-family: "Jersey 25", sans-serif;
    font-size: 40px;
}

.container h2{
    font-family: "Inria Sans", sans-serif;
    font-size: 28px;
}

.container i{
    font-size: 20px;
}

.container p{
    font-family: "Inria Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.container button{
    font-size: 15px;
    padding: 12px 30px;
    border: 1px solid ;
    border-radius: 8px;
    font-weight: 600;
    background-color: white;
    text-transform: uppercase;
    margin-top: 10px;
    transition: scale 0.3s ease;
    cursor: pointer;
}

.container button:hover{
    transform: scale(1.1);
}

.container button.hidden{
    background-color: black;
    color: white;
}