* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: white;
    width: 100%;
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    z-index: 1000;
}

.logo {
    font-family: "Jersey 25", sans-serif;
    font-size: 32px;
}

nav a{
     color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Inria Sans", sans-serif;
    position: relative;
    transition: color 0.3s ease;
    
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Inria Sans", sans-serif;
    position: relative;
    transition: transform 0.3s ease;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

nav a:hover {
    transform: scale(1.1);
}

nav a:hover::after {
    width: 100%;
}

.header-btn {
    width: 130px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background-color: rgba(26, 26, 26, 0.149);    
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header-btn:hover {
    transform: scale(1.1);
}

.header-btn a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}



section {
    min-height: 100vh; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px; 
}


#logo-img{
    height: 650px;
    width: 680px;
}

.container-text h2{
    font-family: "Jersey 25", sans-serif;
    font-size: 43px;
}

.container-text span{
    color: blue;
}

.container-text{
    width: 900px;
}

#motivacional{
    font-family: "Inria Sans", sans-serif;
    font-size: 29px;
}

.title h1{
    margin: 0.3rem;
    font-family: "Jersey 25", sans-serif;
    font-size: 65px;
}

.title p{
    color: black;
    font-size: 1,4rem;
    letter-spacing: 4px;
    font-family: "Inria Sans", sans-serif;
}

.timeline h2{
    margin-bottom: 0.5rem;
    font-family: "Jersey 25", sans-serif;
    font-size: 40px;
    color: white;
}

.timeline p{
    font-family: "Inria Sans", sans-serif;
    font-size: 30px;
}

.title{
    text-align: center;
}


.timeline{
    margin: 5em auto;
    max-width: 34.15em;
}

.fuctions{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.fuctions div{
    border-radius: 1em;
    padding: 1.5em;
    transition: transform 0.3s ease;
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(26, 26, 26), rgb(0, 0, 0));
}
.fuctions div:hover{
    transform: scale(1.1);
    
}

.fuctions p{
    line-height: 27px;
    color: #b6b4b4;
}

.fuctions:nth-child(odd){
    border-left: 3px solid #6a6a6a;
    padding-left: 3em;
    transform: translateX(16em);
}

.fuctions:nth-child(even){
    border-right: 3px solid #6a6a6a;
    padding-right: 3em;
    transform: translateX(-17.8em);
}

.fuctions:nth-child(odd)::before, .fuctions:nth-child(even)::before {
    content: '';
    background-color: #6a6a6a;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fuctions:nth-child(odd)::before{
    left: 0;
}

.fuctions:nth-child(even)::before{
    right: 0;
}

