* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

p{
    text-align: center;
    padding-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
}

.Esqueceu{
    width: 530px;
    height: 320px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

body{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    font-family: "Konkhmer Sleokchher", system-ui;
    justify-content: center;
    height: 100vh;
    gap: 60px;
    flex-direction: column;
}

h1{
    text-align: center;
    padding-top: 45px;
}

input{
    color: #000000;
    width: 344px;
    height: 45px;
    padding: 6px;
    align-items: center;
    border-radius: 5px;
    border-color: #a6a0a070;
    font-size: 18px;
    margin-top: 25px;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

button{
    color: #ffffff;
    width: 344px;
    height: 58px;
    padding: 6px;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    background-color: #000000;
    margin-top: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
