* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: flex;
    flex-direction: column;
    border-right: #000;
    text-decoration: none;
}

header {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #333;
}

button{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.2s ease;
}


nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
}


main{
    color: white;
    background-color: black;
    font-family: "Inria Sans", sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
}

h2{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
    }

