* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;

}

#nome {
    font-family: "Jersey 25", sans-serif;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 15px;
    text-decoration: none;
    color: white;
}


.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px
}

#nome-usuario {
    font-size: 25px;
    color: #ffffff;
    font-family: "Jersey 25", sans-serif;
}

:root {
    --primary-color: rgb(14, 14, 14);
    --secondary-color: rgb(34, 33, 33);
    --text-color: white;
    --background-color: rgb(8, 8, 8);
}

.menu-lateral {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 3px rgb(37, 37, 37);
    transition: 0.5s ease;
}

.menu-lateral.ativo {
    left: 0;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;

}

.menu-lateral ul li {
    padding: 15px 30px;
    font-family: "Jersey 25", sans-serif;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li a i {
    font-size: 24px;
}

.header-list:hover {
    background-color: var(--secondary-color);
}

.menu-lateral ul li a i:hover {
    transform: translateX(5px) rotate(5deg);
}

.botao-menu {
    background-color: var(--primary-color);
    left: 25px;
    top: 25px;
    z-index: 6;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.5s ease;
    position: absolute;

}

.botao-menu:hover {
    background-color: white;
    color: black;
}

.botao-menu.ativo {
    left: 380px;
}

body {
    transition: 0.5s ease;
}

body.ativo {
    margin-left: 300px;
    transition: 0.5s ease;

}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.background.ativo {
    opacity: 2;
    visibility: visible;

}

.nomes-categorias {
    font-size: 2rem;
    border-bottom: 1px solid #333;
}

main {
    color: white;
    background-color: black;
    font-family: "Inria Sans", sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
}

h2 {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
}

.links-category {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 15px;
    gap: 30px;
    width: 300px;
    height: 100vh;
    border-right: 1px solid black;
    list-style: none;

}

.links-category a {
    font-family: "Inria Sans", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 13px;

}

.config-layout {
    display: flex;
    align-items: flex-start;
}

.security{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

}

.titulo{
    font-family: "Jersey 25", sans-serif;
    font-size: 35px;
}

.security-tems{
    font-family: "Inria Sans", sans-serif;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bold;
}

.senhas input{
    width: 50vh;
    height: 30px;
}

.saves{
    margin-top: 30px;
}

.saves button{
    width: 50vh;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 15px;
}

#titulo2{
    margin-top: 50px;
}
