
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    font-family: "Jersey 25" sans-serif;
}

.cadastro{
    width: 440px;
    height: 490px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.288);
}

body{
    background-color: #F6F6F6;
    font-family: "Jersey 25", system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 60px;
    flex-direction: column;
}
h2{
    margin-bottom: 20px;
    font-size: 40px;
    font-family: "Jersey 25" sans-serif;
}

input{
    color: #000000;
    width: 344px;
    height: 45px;
    padding: 6px;
    align-items: center;
    border-radius: 5px;
    border-color: #a6a0a070;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button{
    color: #ffffff;
    width: 344px;
    height: 58px;
    padding: 6px;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    background-color: #000000;
    margin-top: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

a{
    color: #636363;
    text-decoration: none;
    font-size: 20px;
    
}

#aCadastro {

    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}

#Esqueceu{
    margin-top: 12px;
}