* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#img{
    height: 100vh;
    width: 820px;
}

.login{
    width: 430px;
    height: 430px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

#formContainer {
    width: 820px;
}

body{
    background-color: #F6F6F6;
    font-family: "Konkhmer Sleokchher", system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 60px;
}

h1{
    text-align: center;
    padding-top: 7px;
}

input{
    color: #000000;
    width: 344px;
    height: 45px;
    padding: 6px;
    align-items: center;
    border-radius: 5px;
    border-color: #a6a0a070;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    

}

button{
    color: #ffffff;
    width: 344px;
    height: 58px;
    padding: 6px;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    background-color: #000000;
    margin-top: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

a{
    color: #636363;
    text-decoration: none;
    
}

a:hover{
    text-decoration:underline;
}

#Esqueceu{
    margin-top: 12px;
}