* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


#img{
    width: 642px;
    height: 642px;
    margin-bottom: 132px;
}

.login{
    width: 440px;
    height: 490px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

body{
    background-color: #F6F6F6;
    font-family: "Konkhmer Sleokchher", system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 60px;
}

h1{
    text-align: center;
    padding-top: 7px;
}

input{
    color: #A6A0A0;
    width: 344px;
    height: 43px;
    padding: 7px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;


}
